<div class="page-header">
  <h1>
    53-ft Double-stack Cycle Time Scenarios
    <a href="/ds53_cts/new" class="btn btn-lg btn-success">Add a 53-ft Double Stack Cycle Time Scenario</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <!--<th>Jan</th>-->
        <!--<th>Feb</th>-->
        <!--<th>Mar</th>-->
        <!--<th>Apr</th>-->
        <!--<th>May</th>-->
        <!--<th>Jun</th>-->
        <!--<th>Jul</th>-->
        <!--<th>Aug</th>-->
        <!--<th>Sep</th>-->
        <!--<th>Oct</th>-->
        <!--<th>Nov</th>-->
        <!--<th>Dec</th>-->
        <th>Scenario</th>
        <th>Created by</th>
        <th>Actions</th>
      </tr>

      <% @ds53_cts.each do |ds53_ct| %>
      <tr>
        <!--<td><%= ds53_ct.jan %></td>-->
        <!--<td><%= ds53_ct.feb %></td>-->
        <!--<td><%= ds53_ct.mar %></td>-->
        <!--<td><%= ds53_ct.apr %></td>-->
        <!--<td><%= ds53_ct.may %></td>-->
        <!--<td><%= ds53_ct.jun %></td>-->
        <!--<td><%= ds53_ct.jul %></td>-->
        <!--<td><%= ds53_ct.aug %></td>-->
        <!--<td><%= ds53_ct.sep %></td>-->
        <!--<td><%= ds53_ct.oct %></td>-->
        <!--<td><%= ds53_ct.nov %></td>-->
        <!--<td><%= ds53_ct.dec %></td>-->
        <td><%= ds53_ct.name %></td>
        <td>
          <% if ds53_ct.user.present? %>
            <a href="/users/<%= ds53_ct.user.id %>">
              <%= ds53_ct.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/ds53_cts/<%= ds53_ct.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == ds53_ct.user %>
            <a href="/ds53_cts/<%= ds53_ct.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_ds53_ct/<%= ds53_ct.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @ds53_cts, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
