<div class="page-header">
  <h3>Ds53 Ct #<%= @ds53_ct.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Jan</dt>
      <dd><%= @ds53_ct.jan %></dd>

      <dt>Feb</dt>
      <dd><%= @ds53_ct.feb %></dd>

      <dt>Mar</dt>
      <dd><%= @ds53_ct.mar %></dd>

      <dt>Apr</dt>
      <dd><%= @ds53_ct.apr %></dd>

      <dt>May</dt>
      <dd><%= @ds53_ct.may %></dd>

      <dt>Jun</dt>
      <dd><%= @ds53_ct.jun %></dd>

      <dt>Jul</dt>
      <dd><%= @ds53_ct.jul %></dd>

      <dt>Aug</dt>
      <dd><%= @ds53_ct.aug %></dd>

      <dt>Sep</dt>
      <dd><%= @ds53_ct.sep %></dd>

      <dt>Oct</dt>
      <dd><%= @ds53_ct.oct %></dd>

      <dt>Nov</dt>
      <dd><%= @ds53_ct.nov %></dd>

      <dt>Dec</dt>
      <dd><%= @ds53_ct.dec %></dd>

      <dt>Name</dt>
      <dd><%= @ds53_ct.name %></dd>

      <dt>User</dt>
      <dd><%= @ds53_ct.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ds53_cts" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @ds53_ct.user %>
        <a href="/ds53_cts/<%= @ds53_ct.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_ds53_ct/<%= @ds53_ct.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Ds53 ct has many forecasts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Forecasts
      </li>

      <% @ds53_ct.forecasts.each do |forecast| %>
        <li class="list-group-item">
          <a href="/forecasts/<%= forecast.id %>">
            <%= forecast.ds53_growth %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/forecasts/<%= forecast.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/forecasts/<%= forecast.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_forecast/<%= forecast.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_forecast" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for ds53_growth -->
      <div class="form-group">
        <label for="ds53_growth" class="control-label">
          Ds53 growth
        </label>

        <input type="text" id="ds53_growth" name="ds53_growth" placeholder="Ds53 growth" class="form-control" value="">
      </div>

      <!-- Label and input for ds40_growth -->
      <div class="form-group">
        <label for="ds40_growth" class="control-label">
          Ds40 growth
        </label>

        <input type="text" id="ds40_growth" name="ds40_growth" placeholder="Ds40 growth" class="form-control" value="">
      </div>

      <!-- Label and input for ds53_ct_id -->
      <div class="form-group">
        <label for="ds53_ct_id" class="control-label">
          Ds53 ct
        </label>

        <%= select_tag(:ds53_ct_id, options_from_collection_for_select(Ds53Ct.all, :id, :jan), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for itl_in_53 -->
      <div class="form-group">
        <label for="itl_in_53" class="control-label">
          Itl in 53
        </label>

        <input type="text" id="itl_in_53" name="itl_in_53" placeholder="Itl in 53" class="form-control" value="">
      </div>

      <!-- Label and input for dc_in_conv -->
      <div class="form-group">
        <label for="dc_in_conv" class="control-label">
          Dc in conv
        </label>

        <input type="text" id="dc_in_conv" name="dc_in_conv" placeholder="Dc in conv" class="form-control" value="">
      </div>

      <!-- Label and input for non_ttx_adds -->
      <div class="form-group">
        <label for="non_ttx_adds" class="control-label">
          Non ttx adds
        </label>

        <input type="text" id="non_ttx_adds" name="non_ttx_adds" placeholder="Non ttx adds" class="form-control" value="">
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for cars_required -->
      <div class="form-group">
        <label for="cars_required" class="control-label">
          Cars required
        </label>

        <input type="text" id="cars_required" name="cars_required" placeholder="Cars required" class="form-control" value="">
      </div>

      <!-- Label and input for cars_req_greater_0 -->
      <div class="checkbox">
        <label for="cars_req_greater_0">
          <input type="checkbox" id="cars_req_greater_0" name="cars_req_greater_0" value="1" <%= "checked" if @forecast.cars_req_greater_0 %>>
          Cars req greater 0
        </label>
      </div>

      <!-- Label and input for ds53_idle -->
      <div class="form-group">
        <label for="ds53_idle" class="control-label">
          Ds53 idle
        </label>

        <input type="text" id="ds53_idle" name="ds53_idle" placeholder="Ds53 idle" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Forecast
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
