<div class="page-header">
  <h1>
    Forecasts
    <a href="/forecasts/new" class="btn btn-lg btn-success">New Forecast</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Ds53 growth</th>
        <th>Ds40 growth</th>
        <th>Ds53 ct</th>
        <th>User</th>
        <th>Itl in 53</th>
        <th>Dc in conv</th>
        <th>Non ttx adds</th>
        <th>Name</th>
        <th>Cars required</th>
        <th>Cars req greater 0</th>
        <th>Ds53 idle</th>
        <th>Actions</th>
      </tr>

      <% @forecasts.each do |forecast| %>
      <tr>
        <td><%= forecast.ds53_growth %></td>
        <td><%= forecast.ds40_growth %></td>
        <td>
          <% if forecast.ds53_ct.present? %>
            <a href="/ds53_cts/<%= forecast.ds53_ct.id %>">
              <%= forecast.ds53_ct.jan %>
            </a>
          <% end %>
        </td>
        <td>
          <% if forecast.user.present? %>
            <a href="/users/<%= forecast.user.id %>">
              <%= forecast.user.email %>
            </a>
          <% end %>
        </td>
        <td><%= forecast.itl_in_53 %></td>
        <td><%= forecast.dc_in_conv %></td>
        <td><%= forecast.non_ttx_adds %></td>
        <td><%= forecast.name %></td>
        <td><%= forecast.cars_required %></td>
        <td><%= forecast.cars_req_greater_0 %></td>
        <td><%= forecast.ds53_idle %></td>
        <td>
          <a href="/forecasts/<%= forecast.id %>" class="btn btn-primary">Show</a>
          <a href="/forecasts/<%= forecast.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_forecast/<%= forecast.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @forecasts, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
