<div class="page-header">
  <h1>
    Forecasts
    <a href="/forecasts/new" class="btn btn-lg btn-success">New Forecast</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "forecasts_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
  <%= f.label :ds53_growth, "Ds53 growth" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :ds53_growth_gteq, :class => "form-control", :placeholder => "Ds53 growth greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :ds53_growth_lteq, :class => "form-control", :placeholder => "Ds53 growth less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :ds53_idle, "Ds53 idle" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :ds53_idle_gteq, :class => "form-control", :placeholder => "Ds53 idle greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :ds53_idle_lteq, :class => "form-control", :placeholder => "Ds53 idle less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :cars_req_greater_0_eq, "Cars req greater 0" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :cars_req_greater_0_eq, "1", checked: ((params[:q] && params[:q][:cars_req_greater_0_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :cars_req_greater_0_eq, "0", checked: ((params[:q] && params[:q][:cars_req_greater_0_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :cars_req_greater_0_eq, ""%> Either
      </label>
    </div>
  </div>

<div class="form-group">
  <%= f.label :cars_required, "Cars required" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :cars_required_gteq, :class => "form-control", :placeholder => "Cars required greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :cars_required_lteq, :class => "form-control", :placeholder => "Cars required less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

<div class="form-group">
  <%= f.label :non_ttx_adds, "Non ttx adds" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :non_ttx_adds_gteq, :class => "form-control", :placeholder => "Non ttx adds greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :non_ttx_adds_lteq, :class => "form-control", :placeholder => "Non ttx adds less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :dc_in_conv, "Dc in conv" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :dc_in_conv_gteq, :class => "form-control", :placeholder => "Dc in conv greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :dc_in_conv_lteq, :class => "form-control", :placeholder => "Dc in conv less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :itl_in_53, "Itl in 53" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :itl_in_53_gteq, :class => "form-control", :placeholder => "Itl in 53 greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :itl_in_53_lteq, :class => "form-control", :placeholder => "Itl in 53 less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :ds40_growth, "Ds40 growth" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :ds40_growth_gteq, :class => "form-control", :placeholder => "Ds40 growth greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :ds40_growth_lteq, :class => "form-control", :placeholder => "Ds40 growth less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :user_email_cont, "User email contains" %>
      <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
    </div>

<div class="form-group">
  <%= f.label :jan, "Ds53Ct Jan" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :ds53_ct_jan_gteq, :class => "form-control", :placeholder => "Ds53Ct Jan greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :ds53_ct_jan_lteq, :class => "form-control", :placeholder => "Ds53Ct Jan less than or equal to" %>
    </div>
  </div>
</div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/forecasts" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#forecasts_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Dom. Container 2018 Growth</th>
        <th>International 2018 Growth</th>
        <th>Cycle Time Scenario</th>
        <th>Itl in 53</th>
        <th>Dc in conv</th>
        <th>Non ttx adds</th>
        <th>Ds53 idle</th>
        <th>Additional platforms required</th>
        <!--<th>Cars req greater 0</th>-->
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @forecasts.each do |forecast| %>
      <tr>
        <td><%= forecast.name %></td>
        <td><%= number_to_percentage(forecast.ds53_growth*100) %></td>
        <td><%= number_to_percentage(forecast.ds40_growth*100) %></td>
        <td>
          <% if forecast.ds53_ct.present? %>
            <a href="/ds53_cts/<%= forecast.ds53_ct.id %>">
              <%= forecast.ds53_ct.name %>
            </a>
          <% end %>
        </td>
        <td><%= number_to_percentage(forecast.itl_in_53*100, precision: 1) %></td>
        <td><%= number_to_percentage(forecast.dc_in_conv*100, precision: 1) %></td>
        <td><%= forecast.non_ttx_adds %></td>
        <td><%= forecast.ds53_idle %></td>
        <td><%= forecast.cars_required.round(0) %></td>
        <!--<td><%= forecast.cars_req_greater_0 %></td>-->
        <td>
          <% if forecast.user.present? %>
            <a href="/users/<%= forecast.user.id %>">
              <%= forecast.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/forecasts/<%= forecast.id %>" class="btn btn-primary">Show</a>
          <% if forecast.user_id == current_user.id %>
          <a href="/forecasts/<%= forecast.id %>/edit" class="btn btn-warning">Edit</a>
          <% end %>
          <% if forecast.user_id == current_user.id %>
          <a href="/delete_forecast/<%= forecast.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @forecasts, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
