<div class="page-header">
  <h3>Forecast #<%= @forecast.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Ds53 growth</dt>
      <dd><%= @forecast.ds53_growth %></dd>

      <dt>Ds40 growth</dt>
      <dd><%= @forecast.ds40_growth %></dd>

      <dt>Ds53 ct</dt>
      <dd>
        <% if @forecast.ds53_ct.present? %>
          <a href="/ds53_cts/<%= @forecast.ds53_ct_id %>">
            <%= @forecast.ds53_ct.jan %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @forecast.user.present? %>
          <a href="/users/<%= @forecast.user_id %>">
            <%= @forecast.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Itl in 53</dt>
      <dd><%= @forecast.itl_in_53 %></dd>

      <dt>Dc in conv</dt>
      <dd><%= @forecast.dc_in_conv %></dd>

      <dt>Non ttx adds</dt>
      <dd><%= @forecast.non_ttx_adds %></dd>

      <dt>Name</dt>
      <dd><%= @forecast.name %></dd>

      <dt>Cars required</dt>
      <dd><%= @forecast.cars_required %></dd>

      <dt>Cars req greater 0</dt>
      <dd><%= @forecast.cars_req_greater_0 %></dd>

      <dt>Ds53 idle</dt>
      <dd><%= @forecast.ds53_idle %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/forecasts" class="btn btn-primary">
        Back
      </a>
      <a href="/forecasts/<%= @forecast.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_forecast/<%= @forecast.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Forecast has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @forecast.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for forecast_id -->
      <input type="hidden" name="forecast_id" value="<%= @forecast.id %>">

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
