<div class="page-header">
  <h3>Forecast: <%= @forecast.name %></h3>
</div>

<h3>
  <% if @forecast.cars_req_greater_0 == true %>
      <div>
        Under these parameters it is likely that there will not be enough equipment
      </div>
      <div>
        TTX would need to acquire <%= @forecast.cars_required.round(0) %> additional platforms in excess of the 2018 Plan to meet demand
      </div>
      <% else %>
      <div>Current planned additions are sufficient to meet demand under this scenario</div>
  <% end %>
</h3>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>2018 Domestic Container Growth Rate</dt>
      <dd><%= number_to_percentage(@forecast.ds53_growth*100, precision: 1) %></dd>

      <dt>2018 International Growth Rate</dt>
      <dd><%= number_to_percentage(@forecast.ds40_growth*100, precision: 1) %></dd>

      <dt>53-ft Double-stack Cycle Time Scenario</dt>
      <dd>
        <% if @forecast.ds53_ct.present? %>
          <a href="/ds53_cts/<%= @forecast.ds53_ct_id %>">
            <%= @forecast.ds53_ct.name %>
          </a>
        <% end %>
      </dd>

      <dt>% of international boxes travelling in 53-ft wells</dt>
      <dd><%= number_to_percentage(@forecast.itl_in_53*100, precision: 1) %></dd>

      <dt>% of domestic containers travelling on conventiona equipment</dt>
      <dd><%= number_to_percentage(@forecast.dc_in_conv*100, precision:1) %></dd>

      <dt>Non-TTX 53-ft equipment additions</dt>
      <dd><%= @forecast.non_ttx_adds %></dd>

      <!--<dt>Name</dt>-->
      <!--<dd><%= @forecast.name %></dd>-->

      <!--<dt>Cars req greater 0</dt>-->
      <!--<dd><%= @forecast.cars_req_greater_0 %></dd>-->

      <dt>TTX idle car count (in platforms)</dt>
      <dd><%= @forecast.ds53_idle %></dd>


      <dt>Cars required</dt>
      <dd><%= @forecast.cars_required.round(0) %></dd>

      <dt>Created by</dt>
      <dd>
        <% if @forecast.user.present? %>
          <a href="/users/<%= @forecast.user_id %>">
            <%= @forecast.user.email %>
          </a>
        <% end %>
      </dd>
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/forecasts" class="btn btn-primary">
        Back
      </a>
      <a href="/forecasts/<%= @forecast.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_forecast/<%= @forecast.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Forecast has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @forecast.comments.each do |comment| %>
        <li class="list-group-item">
          <!--<a href="/comments/<%= comment.id %>">-->
          <!--  <%= comment.user_id %>-->
          <!--</a>-->
          <div class="btn-group">
            <%= comment.body %>
          </div>
          <div class="btn-group">
            <%= User.find_by(:id => comment.user_id).email %>
          </div>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
      
      <li class="list-group-item list-group-item-info">
        Add a comment
      </li>      

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <!--<label for="user_id" class="control-label">-->
        <!--  User-->
        <!--</label>-->

         <input type="hidden" id="user_id" name="user_id" placeholder="User_id" class="form-control" value="<%= current_user.id %>">
      </div>

      <!-- Label and input for forecast_id -->
      <input type="hidden" name="forecast_id" value="<%= @forecast.id %>">

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Add your comment below
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
