<div class="page-header">
  <h3>Forecast #<%= @forecast.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Ds53 growth</dt>
      <dd><%= @forecast.ds53_growth %></dd>

      <dt>Ds40 growth</dt>
      <dd><%= @forecast.ds40_growth %></dd>

      <dt>Ds53 ct</dt>
      <dd><%= @forecast.ds53_ct_id %></dd>

      <dt>User</dt>
      <dd><%= @forecast.user_id %></dd>

      <dt>Itl in 53</dt>
      <dd><%= @forecast.itl_in_53 %></dd>

      <dt>Dc in conv</dt>
      <dd><%= @forecast.dc_in_conv %></dd>

      <dt>Non ttx adds</dt>
      <dd><%= @forecast.non_ttx_adds %></dd>

      <dt>Name</dt>
      <dd><%= @forecast.name %></dd>

      <dt>Cars required</dt>
      <dd><%= @forecast.cars_required %></dd>

      <dt>Cars req greater 0</dt>
      <dd><%= @forecast.cars_req_greater_0 %></dd>

      <dt>Ds53 idle</dt>
      <dd><%= @forecast.ds53_idle %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/forecasts" class="btn btn-primary">
        Back
      </a>
      <a href="/forecasts/<%= @forecast.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_forecast/<%= @forecast.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Forecast has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @forecast.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
